.fancy-scroll {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #dfe9eb;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #b8c0c2;
  }

  &::-webkit-scrollbar-track:active {
    background-color: #b8c0c2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #4e6e75;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #5288a3;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #3883a3;
  }
}

@mixin text-gradient($color1, $color2) {
  background: $color1;
  background: linear-gradient(to right, $color1 0%, $color2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  @include text-gradient(#37cfc7, #0072ff);
}
